body {
	margin: 0;
	background: rgba(251,206,103,0.2);
	min-height: 99vh;
}

a {
	text-decoration: none;
}

header {
	height: 250px;
    background-image: url(/img/header.jpg);
    background-size: 100% 100%;
}

article {
	display: flex;
}

.topNavbar {
	position: fixed;
    width: 100%;
	padding: 3px 0;
    background: linear-gradient(to top, rgba(251,206,103,0.2), rgba(21,25,70,0.6));
}

.mainMenu {
	display: inline-block;
    margin: 0;
    padding: 0;
}

.mainMenu > li {
	list-style-type: none;
	display: inline-block;
	margin: 5px;
    background: linear-gradient(to top, rgba(21,25,70,0.2), rgba(251,206,103,0.6));
	font-weight: bold;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}

.mainMenu > li:hover {
	box-shadow: 0 0 25px rgba(255,255,255,1);
}

.mainMenu > li > a {
	padding: 12px 18px;
	display: block;
	color: white;
	font-family: 'Bad Script', cursive;
}

.forumCategories {
	margin: 25px auto;
	width: 1100px;
}

.forumCategory {
	margin: 25px 0;
	background: rgba(21,25,70,0.1);
	box-shadow: 0 0 25px rgba(21,25,70,1);
}

.forumCategoryTitle {
	background-image: url(/img/category.png);
	width: 1100px;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
	line-height: 73px;
    margin-bottom: 10px;
	font-family: 'Andika', sans-serif;
}

.forum {
	display: flex;
	border-bottom: 1px solid rgba(21,25,70,0.6);
    margin-bottom: 5px;
	background: linear-gradient(to top, rgba(21,25,70,0.3), transparent);
}

.forum:hover {
	box-shadow: 0 0 20px rgba(251,206,103,0.75);
	background: linear-gradient(to top, rgba(21,25,70,0.3), rgba(251,206,103,0.2));
}

.forumIcon {
	width: 100px;
	height: 100px;
	float: left;
}

.forumTitle {
	width: 500px;
	padding-left: 5px;
	float: left;
}

.forumTitle > a {
	display: block;
	color: black;
	line-height: 50px;
    padding-top: 25px;
	font-size: 23px;
}

.forumCount {
	float: left;
	width: 200px;
	padding-top: 30px;
	line-height: 20px;
	text-align: center;
}

.forumLastPost {
	width: 300px;
	padding-top: 30px;
	line-height: 20px;
	float: left;
	text-align: center;
}

.childrenForums {
	margin-top: 0px;
	padding-left: 10px;
	float: left;
}

.childrenForums > li {
	font-style: oblique;
	margin-right: 25px;
	float: left;
}

.childrenForums > li:hover {
	text-decoration: underline;
}

.childrenForums > li > a {
	color: black;
}

.forumBody {
	width: 1100px;
	margin: 30px auto;
}

.forumBreadCrumds {
	padding: 10px;
	background: rgba(251,206,103,0.8);
}

.forumBreadCrumds > a {
	margin-left: 20px;
	color: black;
	font-size: 20px;
}

.forumBreadCrumds > a:after {
	content: "";
	background: url(/img/hand.png);
	width: 17px;
    height: 17px;
    position: relative;
    top: 2px;
    left: 11px;
    background-size: 100% 100%;
    display: inline-block;
}

.forumBreadCrumds > a:last-child:after {
	content: none;
}

.forumChildrens {
	
}

.topics {
	margin-top: 20px;
}

.topics > b {
	font-size: 20px;
}

.topicsTable {
	width: 1100px;
	border-spacing: 0 3px;
}

.topicsTable > tbody > tr {
	background: linear-gradient(to top, rgba(21,25,70,0.6),rgba(21,25,70,0.2));
}

.topicsTable > tbody > tr:hover {
	background: linear-gradient(to top, rgba(21,25,70,0.7),rgba(21,25,70,0.3));
}

.topicIcon {
	width: 75px;
}

.topicIcon > a > img {
	width: 75px;
	height: 75px;
}

.topicTitle {
	width: 575px;
	padding-left: 10px;
}

.topicTitle > a:first-child {
	color: black;
	font-size: 18px;
}

.topicCount {
	text-align: center;
	width: 200px;
}

.topicLastPost {
	text-align: center;
	width: 250px;
}

.topicLastPost > a {
	color: black;
}

.topicLastPost > a:hover {
	text-decoration: underline;
}

.topicsPagin {
	margin-top: 20px;
}

.topicsPagin > a > img {
	float: left;
	margin: 0 10px;
}

.topicsPagin > span {
	float: left;
	font-size: 20px;
}

.paginArrow {
	height: 25px;
}

.forumLastPost > a {
	color: black;
}

.forumLastPost > a:hover {
	text-decoration: underline;
}

.registrationForm {
	width: 400px;
    margin: 50px auto;
    background: yellow;
}

.registrationForm {
	padding: 10px;
	background: linear-gradient(to top,rgba(21,25,70,0.1),rgba(21,25,70,0.3));
	box-shadow: 0 0 50px rgba(21,25,70,0.5);
}

.registrationForm > .formTitle {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
}

.registrationForm > .formInput {
	display: block;
    margin: 8px auto;
	font-size: 17px;
	padding: 5px;
	box-shadow: 0 0 25px rgba(21,25,70,0.5);
	border: 1px solid rgba(21,25,70,1);
	width: 300px;
}

.registrationForm > .formInput:hover {
	box-shadow: 0 0 25px rgba(251,206,103,0.5);
}

.registrationForm > .formSubmit {
	display: block;
    margin: 20px auto;
	padding: 5px 15px;
	cursor: pointer;
	background: linear-gradient(to top right, rgba(70,130,180,0.3), rgba(21,25,70,0.7));
	border: none;
	font-family: 'Bad Script', cursive;
	font-weight: bold;
	font-size: 20px;
	box-shadow: 0 0 30px rgba(21,25,70,0.5);
}

.registrationForm > .formSubmit:hover {
	background: linear-gradient(to top right, rgba(255,255,255,0.3), rgba(21,25,70,0.7));
	box-shadow: 0 0 30px rgba(255,255,255,0.5);
}

.formError {
	color: red;
	padding: 5px;
}