body {
	margin: 0;
}

a {
	text-decoration: none;
}

header {
	height: 250px;
    background-image: url(/img/header.jpg);
    background-size: 100% 100%;
}

article {
	background: rgba(251,206,103,0.2);
	display: flex;
}

.topNavbar {
	position: fixed;
    width: 100%;
	padding: 3px 0;
    background: linear-gradient(to top, rgba(251,206,103,0.2), rgba(21,25,70,0.6));
}

.mainMenu {
	display: inline-block;
    margin: 0;
    padding: 0;
}

.mainMenu > li {
	list-style-type: none;
	display: inline-block;
	margin: 5px;
    background: linear-gradient(to top, rgba(21,25,70,0.2), rgba(251,206,103,0.6));
	font-weight: bold;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}

.mainMenu > li:hover {
	box-shadow: 0 0 25px rgba(255,255,255,1);
}

.mainMenu > li > a {
	padding: 12px 18px;
	display: block;
	color: white;
	font-family: 'Bad Script', cursive;
}

.forumCategories {
	margin: 25px auto;
	width: 800px;
}

.forumCategory {
	margin: 25px 0;
	background: rgba(21,25,70,0.1);
	box-shadow: 0 0 25px rgba(21,25,70,1);
}

.forumCategoryTitle {
	background-image: url(/img/category.png);
	width: 800px;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
	line-height: 73px;
    margin-bottom: 10px;
	font-family: 'Andika', sans-serif;
}

.forum {
	display: flex;
	border-bottom: 1px solid rgba(21,25,70,0.6);
    margin-bottom: 5px;
	background: linear-gradient(to top, rgba(21,25,70,0.3), transparent)
}

.forum:hover {
	box-shadow: 0 0 20px rgba(251,206,103,0.75);
	background: linear-gradient(to top, rgba(21,25,70,0.3), rgba(251,206,103,0.2));
}

.forumIcon {
	width: 100px;
	height: 100px;
	float: left;
}

.forumTitle {
	float: left;
	width: 300px;
	padding-left: 5px;
}

.forumTitle > a {
	display: block;
	color: black;
	line-height: 100px;
}

.forumCount {
	float: left;
	width: 200px;
	padding-top: 30px;
	line-height: 20px;
}

.forumLastPost {
	float: left;
	width: 200px;
	padding-top: 30px;
	line-height: 20px;
}